<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div th:replace="/study/fragments-study.html :: study-banner"></div>
<div class="container">
    <div class="row justify-content-center mt-3">

        <div class="col-8">
            <a class="text-decoration-none" th:href="@{'/study/' + ${study.path}}" href="#">
                <h2 th:text="${study.title}">Study title</h2>
            </a>
            <h3 th:text="${event.title}">Event title</h3>
        </div>

        <div sec:authorize="isAuthenticated()" class="col-2 text-end justify-content-end">
            <button th:if="${event.isEnrollAbleFor(#authentication.principal) && !event.isAttended(#authentication.principal)}"
                    class="btn btn-primary"
                    data-mdb-toggle="modal"
                    data-mdb-target="#enroll"
            >
                <i class="fas fa-plus-circle"></i>&nbsp;<strong>참가 신청</strong>
            </button>
            <button th:if="${event.isDisEnrollAbleFor(#authentication.principal) && !event.isAttended(#authentication.principal)}"
                    class="btn btn-info"
                    data-mdb-toggle="modal"
                    data-mdb-target="#disEnroll"
            >
                <i class="fas fa-minus-circle"></i>&nbsp;<strong>참가 신청 취소</strong>
            </button>
            <button th:if="${event.isAttended(#authentication.principal)}"
                    class="btn btn-success text-white"
                    disabled>
                <i class="far fa-check-circle"></i>&nbsp;<strong>참석 완료</strong>
            </button>
        </div>

        <div class="modal fade"
             id="enroll"
             tabindex="-1"
             role="dialog"
             aria-labelledby="enrollmentTitle"
             aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            th:text="${event.title}"
                            id="enrollmentTitle"
                        >
                            Modal title
                        </h5>
                        <button class="btn-close"
                                type="button"
                                data-mdb-dismiss="modal"
                                aria-label="Close"
                        >
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            모임에 참석하시겠습니까?<br/>
                            일정을 캘린더에 등록하시는 걸 추천합니다.
                        </p>
                        <p>
                            <strong>확인</strong> 버튼을 클릭하면 모임 참가 신청을 합니다.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary"
                                type="button"
                                data-mdb-dismiss="modal"
                        >
                            취소
                        </button>
                        <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/enroll'}"
                              method="post">
                            <button class="btn btn-primary" type="submit">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade"
             id="disEnroll"
             tabindex="-1"
             role="dialog"
             aria-labelledby="leaveTitle"
             aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="leaveTitle" th:text="${event.title}"></h5>
                        <button class="btn-close"
                                type="button"
                                data-mdb-dismiss="modal"
                                aria-label="Close"
                        >
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>모임 참가 신청을 취소하시겠습니까?</p>
                        <p><strong>확인</strong> 버튼을 누르시면 본 참가 신청이 취소되며, 다른 대기자에게 참석 기회를 줍니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary"
                                type="button"
                                data-mdb-dismiss="modal"
                        >
                            취소
                        </button>
                        <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/disEnroll'}"
                              method="post">
                            <button class="btn btn-primary" type="submit">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:if="${message}" class="alert alert-primary alert-dismissible text-center col-10 mx-auto">
        <span th:text="${message}">message</span>
        <button class="btn-close"
                type="button"
                data-mdb-dismiss="alert"
        >
        </button>
    </div>
    <div class="card shadow-sm col-10 mx-auto mt-3">
        <div class="card-body row justify-content-center">

            <div class="col-8 pt-2">
                <dt class="font-weight-dark">상세 모임 설명</dt>
                <hr/>
                <dd th:utext="${event.description}"></dd>
                <hr/>
                <br/>
            </div>

            <div class="col-4 pt-2 text-end">
                <dt class="font-weight-dark">모집 방법</dt>
                <dd>
                    <label class="badge rounded-pill badge-dark">
                        <span th:if="${event.eventType.toString() == 'FIRST_COME_FIRST_SERVED'}">
                            선착순
                        </span>
                        <span th:if="${event.eventType.toString() == 'MANAGER_CHECK'}">
                            관리자 확인
                        </span>
                    </label>
                </dd>
                <dt class="font-weight-dark">모집 인원</dt>
                <dd>
                    <i class="fas fa-user"></i> <span th:text="${event.limitOfEnrollments}"></span> 명
                </dd>
                <dt class="font-weight-dark mt-3">참가 신청 마감 일시</dt>
                <dd>
                    <span class="time" th:text="${event.endEnrollmentDate}"></span>
                    <span class="weekday" th:text="${event.endEnrollmentDate}"></span><br/>
                    ~ <span class="date" th:text="${event.endEnrollmentDate}"></span>
                </dd>
                <dt class="font-weight-dark">모임 일시</dt>
                <dd>
                    <span class="time" th:text="${event.startDate}"></span>
                    <span class="weekday" th:text="${event.startDate}"></span><br/>
                    <span class="date" th:text="${event.startDate}"></span> ~
                    <span class="date" th:text="${event.endDate}"></span>
                </dd>
                <dt class="font-weight-dark mt-3">모임 관리자</dt>
                <dd>
                    <a th:href="@{'/profile/' + ${event.createdBy.username}}" class="text-decoration-none">
                        <svg th:if="${#strings.isEmpty(event.createdBy.profile?.profileImage)}"
                             th:data-jdenticon-value="${event.createdBy.username}"
                             class="rounded-circle border bg-light"
                             width="24" height="24"
                        />
                        <img th:if="${!#strings.isEmpty(event.createdBy?.profile.profileImage)}"
                             th:src="${event.createdBy?.profile.profileImage}"
                             class="rounded-circle border"
                             width="24" height="24"
                        />
                        <strong><span th:text="${event.createdBy.profile.nickname}"></span></strong>
                    </a>
                </dd>
                <dt th:if="${study.isManager(#authentication.principal)}" class="font-weight-dark">모임 관리</dt>
                <dd th:if="${study.isManager(#authentication.principal)}">
                    <button class="btn btn-outline-primary btn-sm">
                        <a th:href="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/edit'}">
                            <strong>모임 수정</strong>
                        </a>
                    </button>
                    <br/>
                    <button class="btn btn-outline-danger btn-sm my-1"
                            data-mdb-toggle="modal"
                            data-mdb-target="#cancel"
                    >
                        <strong>모임 취소</strong>
                    </button>
                </dd>
            </div>

            <div>
                <dt class="font-weight-dark">
                    모임 참가 신청 <i class="fas fa-user"></i> <span th:text="${event.enrollments.size()}"></span> 명
                </dt>
                <br>
                <table th:if="${event.enrollments.size() > 0}" class="table table-hover">
                    <thead class="bg-light">
                    <tr th:classappend="${study.isManager(#authentication.principal)} ? 'text-center' : ''">
                        <th scope="col">#</th>
                        <th scope="col">참석자</th>
                        <th scope="col">참가 신청 일시</th>
                        <th scope="col">참가 상태</th>
                        <th th:if="${study.isManager(#authentication.principal)}" scope="col">
                            참가 신청 관리
                        </th>
                        <th th:if="${study.isManager(#authentication.principal)}" scope="col">
                            출석 체크
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="enroll: ${event.enrollments}">
                        <td th:classappend="${study.isManager(#authentication.principal)} ? 'text-center' : ''"
                            th:text="${enrollStat.count}">
                        </td>
                        <td>
                            <a th:href="@{'/profile/' + ${enroll.account.username}}" class="text-decoration-none">
                                <svg th:if="${#strings.isEmpty(enroll.account?.profile.profileImage)}"
                                     th:data-jdenticon-value="${enroll.account.username}"
                                     class="rounded border bg-light"
                                     width="24" height="24"
                                />
                                <img th:if="${!#strings.isEmpty(enroll.account?.profile.profileImage)}"
                                     th:src="${enroll.account?.profile.profileImage}"
                                     class="rounded border"
                                     width="24" height="24"
                                />
                                <span th:text="${enroll.account.profile.nickname}"></span>
                            </a>
                        </td>
                        <td th:classappend="${study.isManager(#authentication.principal)} ? 'text-center' : ''">
                            <span class="date" th:text="${enroll.enrolledDate}"></span>
                            <span class="time" th:text="${enroll.enrolledDate}"></span>
                        </td>
                        <td th:classappend="${study.isManager(#authentication.principal)} ? 'text-center' : ''">
                            <span th:if="${enroll.accepted}" class="badge badge-primary rounded-pill d-inline">확정</span>
                            <span th:if="${!enroll.accepted}" class="badge badge-secondary rounded-pill d-inline">대기중</span>
                        </td>
                        <td th:if="${study.isManager(#authentication.principal)}" class="text-center">
                            <form th:if="${event.canAccept(enroll)}"
                                  th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/accept'}"
                                  method="post"
                            >
                                <button class="btn btn-link btn-sm btn-rounded" type="submit">신청 수락</button>
                            </form>
                            <form th:if="${event.canReject(enroll)}"
                                  th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/reject'}"
                                  method="post"
                            >
                                <button class="btn btn-link btn-sm btn-rounded" type="submit">취소</button>
                            </form>
                        </td>
                        <td th:if="${study.isManager(#authentication.principal)}">
                            <form th:if="${enroll.accepted && !enroll.attended}"
                                  th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/check-in'}"
                                  method="post"
                            >
                                <button class="btn btn-link btn-sm btn-rounded" type="submit">체크인</button>
                            </form>
                            <form th:if="${enroll.accepted && enroll.attended}"
                                  th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/cancel-check-in'}"
                                  method="post"
                            >
                                <button class="btn btn-link btn-sm btn-rounded" type="submit">체크인 취소</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade"
                 id="cancel"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="deleteTitle"
                 aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteTitle" th:text="${event.title}"></h5>
                            <button type="button"
                                    class="btn-close"
                                    data-mdb-dismiss="modal"
                                    aria-label="Close"
                            >
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>모임을 취소 하시겠습니까?</p>
                            <p><strong>확인</strong>하시면 본 모임 및 참가 신청 관련된 데이터를 삭제합니다.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary"
                                    type="button"
                                    data-mdb-dismiss="modal"
                            >
                                취소
                            </button>
                            <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id}}"
                                  th:method="delete">
                                <button class="btn btn-primary" type="submit">확인</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: mdb-js"></script>
<script th:replace="fragments.html :: date-time"></script>
</body>
</html>


