<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div class="container">
    <div class="py-3 text-center form-label">
        <br/>
        <h2>STUDY IN</h2>
    </div>
    <div class="row justify-content-center">
        <div class="lead text-center">
            <p>스터디 개설하기</p>
        </div>
        <form class="needs-validation col-sm-8"
              th:action="@{/new-study}"
              th:object="${studyForm}"
              method="post"
              novalidate
        >

            <div class="form-group mt-3">
                <label class="form-label" for="title">Study Title</label>
                <input class="form-control"
                       th:field="*{title}"
                       id="title"
                       type="text"
                       placeholder="스터디 모임의 이름을 입력하세요."
                       aria-describedby="titleHelp"
                       required max="30"
                />
                <small class="form-text text-muted" id="titleHelp">
                    30자 이내로 입력하세요.<br/>
                </small>
                <small class="invalid-feedback">이름을 입력하세요.</small>
                <small th:if="${#fields.hasErrors('title')}"
                       th:errors="*{title}"
                       class="form-text text-danger"
                >
                    Title Error
                </small>
            </div>

            <div class="form-group mt-3">
                <label class="form-label" for="path">Study URL</label>
                <input class="form-control"
                       th:field="*{path}"
                       id="path"
                       type="text"
                       placeholder="ex) study_path"
                       aria-describedby="pathHelp"
                       required min="2" max="20"
                />
                <small class="form-text text-muted" id="pathHelp">
                    2자 이상 20자 이내로 공백없이 문자나 숫자, 특수문자는 언더바(_), 대시(-) 만 사용 할 수 있습니다.</br>
                    스터디 홈 주소에 사용됩니다. ex) /study/<b>study_path</b><br/>
                </small>
                <small class="invalid-feedback">스터디 경로를 입력하세요.</small>
                <small th:if="${#fields.hasErrors('path')}"
                       th:errors="*{path}"
                       class="form-text text-danger"
                >
                    Path Error
                </small>
            </div>

            <div class="form-group mt-3">
                <label class="form-label" for="shortDescription">Short description</label>
                <textarea class="form-control"
                          th:field="*{shortDescription}"
                          id="shortDescription"
                          type="textarea"
                          placeholder="스터디를 간단하게 소개해 주세요."
                          aria-describedby="shortDescriptionHelp"
                          required maxlength="100"
                >
                </textarea>
                <small id="shortDescriptionHelp" class="form-text text-muted">
                    100자 이내로 소개해주세요.<br/>
                </small>
                <small class="invalid-feedback">소개를 입력하세요.</small>
                <small th:if="${#fields.hasErrors('shortDescription')}"
                       th:errors="*{shortDescription}"
                       class="form-text text-danger"
                >
                    ShortDescription Error
                </small>
            </div>

            <div class="form-group mt-3">
                <label class="form-label" for="fullDescription">Full description</label>
                <textarea class="editor form-control"
                          th:field="*{fullDescription}"
                          id="fullDescription"
                          required
                >
                </textarea>
                <small class="invalid-feedback">상세 소개를 입력하세요.</small>
                <small th:if="${#fields.hasErrors('fullDescription')}"
                       th:errors="*{fullDescription}"
                       class="form-text text-danger"
                >
                    FullDescription Error
                </small>
            </div>

            <div class="form-group mt-3">
                <button class="btn btn-primary btn-block" type="submit">스터디 만들기</button>
            </div>

        </form>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: mdb-js"></script>
<script th:replace="fragments.html :: summernote"></script>
</body>
</html>



