<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div class="container py-3">
    <div th:replace="fragments.html :: profile-menu (profile)"></div>
    <div class="row justify-content-center col-10 mx-auto mt-2">
        <div class="col-lg-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body text-center">
                    <svg th:if="${#strings.isEmpty(profile?.profileImage)}"
                         th:data-jdenticon-value="${profile.username}"
                         class="img-fluid float-left rounded img-thumbnail"
                         style="width: 140px;"
                    />
                    <img th:if="${!#strings.isEmpty(profile.profileImage)}"
                         th:src="${profile.profileImage}"
                         class="img-fluid float-left rounded img-thumbnail"
                         style="width: 140px;"
                    />
                    <h5 class="my-3">
                        <div th:text="${profile.nickname}">nickname</div>
                        <small th:text="${profile.username}">username</small>
                    </h5>
                    <p class="text-muted mb-1" th:text="${profile.occupation}">Full Stack Developer</p>
                    <p class="text-muted mb-4" th:text="${profile.location}">Bay Area, San Francisco, CA</p>
                    <div class="d-flex justify-content-center mb-2">
                        <button class="btn btn-primary" type="button">Follow</button>
                        <button class="btn btn-outline-primary ms-1" type="button">Message</button>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm mb-4 mb-lg-0">
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush rounded-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                            <p class="mb-0">gitHub.com</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                            <p class="mb-0">twitter.com</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                            <p class="mb-0">instagram.com</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                            <p class="mb-0">facebook.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">&#128512; Bio</p>
                        </div>
                        <div class="col-sm-9">
                            <p th:if="${!#strings.isEmpty(profile.bio)}"
                               th:text="${profile.bio}"
                               class="text-muted mb-0"
                            >
                                bio
                            </p>
                            <p th:if="${#strings.isEmpty(profile.bio) && isOwner}" class="text-muted mb-0">
                                자신에 대한 한 줄 소개를 추가 해보세요.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">&#128279; Link</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.link}">url.com</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">&#128235; Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p th:if="${profile.emailVerified}"
                               class="text-muted mb-0"
                               th:text="${profile.email}"
                            >
                                user@email.com
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">&#127759; Location</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="${profile.location}">Bay Area, San Francisco, CA</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">&#128197; JoinedAt</p>
                        </div>
                        <div class="col-sm-9">
                            <p th:if="${isOwner}" class="text-muted mb-0">
                                <span th:if="${!profile.emailVerified}">
                                    <a href="#" th:href="@{'/check-email'}">가입을 완료하려면, 인증 이메일을 확인하세요.</a>
                                </span>
                                <span th:if="${profile.emailVerified}"
                                      th:text="${#temporals.format(profile.createdDate, 'yyyy년 M월 d일')}"
                                      class="col-9"
                                >
                                </span>
                            </p>
                            <p th:if="${!isOwner}" class="text-muted mb-0">
                                <span th:if="${!profile.emailVerified}">
                                    아직 인증되지 않은 계정입니다.
                                </span>
                                <span th:if="${profile.emailVerified}"
                                      th:text="${#temporals.format(profile.createdDate, 'yyyy년 M월 d일')}"
                                      class="col-9"
                                >
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow-sm mb-4 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4">
                                <span class="text-primary font-italic me-1">assigment</span> Project Status
                            </p>
                            <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                            <div class="progress rounded" style="height: 5px;">
                                <div class="progress-bar"
                                     role="progressbar"
                                     style="width: 80%"
                                     aria-valuenow="80"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                            <div class="progress rounded" style="height: 5px;">
                                <div class="progress-bar"
                                     role="progressbar"
                                     style="width: 72%"
                                     aria-valuenow="72"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                            <div class="progress rounded" style="height: 5px;">
                                <div class="progress-bar"
                                     role="progressbar"
                                     style="width: 89%"
                                     aria-valuenow="89"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                            <div class="progress rounded" style="height: 5px;">
                                <div class="progress-bar"
                                     role="progressbar"
                                     style="width: 55%"
                                     aria-valuenow="55"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                            <div class="progress rounded mb-2" style="height: 5px;">
                                <div class="progress-bar"
                                     role="progressbar"
                                     style="width:66%"
                                     aria-valuenow="66"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-sm mb-4 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4">
                                <span class="text-primary font-italic me-1">assigment</span> Project Status
                            </p>
                            <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                            <div class="progress rounded" style="height: 5px;">
                                <div class="progress-bar"
                                     role="progressbar"
                                     style="width: 80%"
                                     aria-valuenow="80"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                            <div class="progress rounded" style="height: 5px;">
                                <div class="progress-bar"
                                     role="progressbar"
                                     style="width: 72%"
                                     aria-valuenow="72"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                            <div class="progress rounded" style="height: 5px;">
                                <div class="progress-bar"
                                     role="progressbar"
                                     style="width: 89%"
                                     aria-valuenow="89"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                            <div class="progress rounded" style="height: 5px;">
                                <div class="progress-bar"
                                     role="progressbar"
                                     style="width: 55%"
                                     aria-valuenow="55"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                            <div class="progress rounded mb-2" style="height: 5px;">
                                <div class="progress-bar"
                                     role="progressbar"
                                     style="width: 66%"
                                     aria-valuenow="66"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: mdb-js"></script>
</body>
</html>