<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div class="text-center mb-5" style="background-color: #f5f7ff;">
    <div th:replace="fragments.html :: email-authentication-message"></div>
    <div th:replace="fragments.html :: message"></div>
    <br/>
    <h2 class="mb-3">STUDY IN</h2>
    <div class="lead pb-3">
        태그와 지역을 기반으로 직접 스터디를 개설하거나, 참여하세요.<br/>
        스터디인은 여러분의 성장을 응원합니다.
    </div>
</div>
<div class="container mt-5">
    <h5 class="text-center text-primary fw-bold">서로 배우고, 나누고, 성장하세요.</h5>
    <form th:action="@{/search/study}"
          class="input-group mb-5"
          method="get"
    >
        <div class="input-group mx-auto rounded w-50 mb-3">
            <input class="form-control shadow-2 rounded-pill" style="padding-left:1em; height:2.5em;"
                   type="search"
                   name="keyword"
                   placeholder="참여하고 싶은 스터디를 입력해보세요."
                   aria-label="Search"
                   aria-describedby="search-addon"
            />
            <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search" style="height: 0.5rem"></i>
        </span>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-10 mx-auto">
            <h5 class="fw-bold mb-3">내 참석 모임 <i class="fas fa-angle-right"></i></h5>
            <div th:if="${!#lists.isEmpty(enrollmentList)}" class="row row-cols-1 row-cols-md-2 row-cols-md-3">
                <div th:each="enrollment: ${enrollmentList}" class="col mb-4">
                    <div class="card row shadow-sm mx-auto">
                        <div class="card-header" th:text="${enrollment.event.study.title}">Study title</div>
                        <div class="card-body">
                            <div class="card-subtitle fw-bold" th:text="${enrollment.event.title}">Event title
                            </div>
                            <label class="mt-2" for="progress" style="font-size: small">
                                <strong>진도율: <span
                                        th:text="${enrollment.event.currentProgress()} + '%'"></span></strong>
                            </label>
                            <div class="mx-auto progress rounded" style="height: 5px;">
                                <div class="progress-bar"
                                     id="progress"
                                     role="progressbar"
                                     th:style="'width: ' + (${enrollment.event.currentProgress()} < 0  ? '0' : ${enrollment.event.currentProgress()} + '%;')"
                                     th:aria-valuenow="${enrollment.event.currentProgress()}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                >
                                </div>
                            </div>
                            <div class="mt-3">
                                <span class="badge badge-dark">
                                    <i class="far fa-calendar"></i>
                                    <span class="weekday" th:text="${enrollment.event.startDateTime}"></span>
                                    <span class="time" th:text="${enrollment.event.startDateTime}"></span>
                                </span>
                                <span class="badge badge-dark">
                                    <i class="far fa-user"></i>
                                    <span th:text="${enrollment.event.enrollmentCount}"></span>명 참여중
                                </span>
                                <span class="badge badge-dark">
                                    <span th:if="${enrollment.event.eventType.toString() == 'FIRST_COME_FIRST_SERVED'}">선착순</span>
                                    <span th:if="${enrollment.event.eventType.toString() == 'MANAGER_CHECK'}">관리자 확인</span>
                                </span>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-around">
                            <a class="btn btn-link btn-sm hover-shadow text-dark fw-bold"
                               th:href="@{'/study/' + ${enrollment.event.study.path} + '/events/' + ${enrollment.event.id}}"
                            >
                                모임 조회
                            </a>
                            <a class="btn btn-link btn-sm hover-shadow text-dark fw-bold"
                               th:href="@{'/study/' + ${enrollment.event.study.path}}"
                            >
                                스터디 조회
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="col-10 row justify-content-between mx-auto">
        <ul class="col-6">
            <h5 class="fw-bold mb-3">내 태그 <i class="fas fa-angle-right"></i></h5>
            <li th:each="tag: ${account.tags}" class="badge badge-light">
                <a class="text-dark"
                   th:href="@{'/search/study?sort=publishedDateTime,desc&keyword=' + ${tag.title}}">
                    # <span th:text="${tag.title}"></span>
                </a>
            </li>
            <li th:if="${account.tags.size() == 0}" class="badge badge-light">
                <a th:href="@{/settings/tags}" class="btn-text">관심 주제 등록</a>
            </li>
        </ul>
        <ul class="col-6">
            <h5 class="fw-bold mb-3">내 활동 지역 <i class="fas fa-angle-right"></i></h5>
            <li th:each="location: ${account.locations}" class="badge badge-light">
                <a class="text-dark"
                   th:href="@{'/search/study?sort=publishedDateTime,desc&keyword=' + ${location.getLocalNameOfCity}}">
                    <i class="fas fa-globe-asia"></i> <span th:text="${location.getLocalNameOfCity}"></span>
                </a>
            </li>
            <li th:if="${account.locations.size() == 0}" class="badge badge-light">
                <a th:href="@{/settings/zones}" class="btn-text">주요 활동 지역 등록</a>
            </li>
        </ul>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-10 mx-auto">
            <div class="dropdown text-center mb-3">
                <button class="btn btn-primary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                >
                    <strong>목록 정렬 방식</strong>
                </button>
                <ul class="dropdown-menu lead" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item"
                           th:classappend="${#strings.equals(sortProperty, 'publishedDateTime')}? active"
                           th:href="@{'/?sort=publishedDateTime,desc&'}"
                        >
                            스터디 공개일
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           th:classappend="${#strings.equals(sortProperty, 'memberCount')}? active"
                           th:href="@{'/?sort=memberCount,desc'}"
                        >
                            멤버 수
                        </a>
                    </li>
                </ul>
            </div>
            <h5 class="fw-bold mb-3">나의 지역 및 태그 스터디 목록 <i class="fas fa-angle-right"></i></h5>
            <div class="row">
                <div th:each="study: ${studyPage.getContent()}" class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img th:src="${study.image}"
                             th:alt="${study.title}"
                             class="card-img-top"
                        >
                        <div class="card-body" style="height: 14rem;">
                            <a th:href="@{'/study/' + ${study.path}}">
                                <p class="card-title context fw-bold" th:text="${study.title}"></p>
                            </a>
                            <p class="card-text" th:text="${study.shortDescription}">short description</p>
                            <p class="card-text context">
                                <span th:each="tag: ${study.tags}">
                                    <a class="badge rounded-pill badge-primary mr-3"
                                       th:href="@{'/search/tag/' + ${tag.title}}">
                                        <i class="fas fa-tag"></i>
                                        <span th:text="${tag.title}">Tag</span>
                                    </a>
                                </span>
                                <span th:each="location: ${study.locations}" class="mr-2">
                                    <a class="badge rounded-pill badge-success mr-3"
                                       th:href="@{'/search/location/' + ${location.id}}">
                                        <i class="fas fa-globe-asia"></i>
                                        <span th:text="${location.localNameOfCity}">Location</span>
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <small>
                                    <i class="fa fa-user-circle"></i>
                                    <span th:text="${study.memberCount}"></span>명
                                </small>
                                <small class="date-ll" th:text="${study.publishedDateTime}">2023년 08월 30일</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <nav>
                <ul class="pagination justify-content-center fw-bolder">
                    <li class="page-item" th:classappend="${!studyPage.hasPrevious()}? disabled">
                        <a class="page-link"
                           th:href="@{'/?sort=' + ${sortProperty} + ',desc&page=' + ${studyPage.getNumber() - 1}}"
                           tabindex="-1"
                           aria-disabled="true"
                        >
                            Previous
                        </a>
                    </li>
                    <li class="page-item"
                        th:classappend="${i == studyPage.getNumber()}? active"
                        th:each="i: ${#numbers.sequence(0, studyPage.getTotalPages() - 1)}"
                    >
                        <a class="page-link"
                           th:href="@{'/?sort=' + ${sortProperty} + ',desc&page=' + ${i}}"
                           href="#"
                           th:text="${i + 1}"
                        >
                            1
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${!studyPage.hasNext()}? disabled">
                        <a class="page-link"
                           th:href="@{'/?&sort=' + ${sortProperty} + ',desc&page=' + ${studyPage.getNumber() + 1}}">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: mdb-js"></script>
<script th:replace="fragments.html :: date-time"></script>
</body>
</html>