<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div class="container">
    <div class="py-3 text-center form-label">
        <br/>
        <h2>STUDY IN</h2>
        <p>Reset password</p>
        <div class="alert alert-primary col-lg-7 m-auto" role="alert">
            이메일 주소를 입력하세요.<br/>
            이메일을 통해 새 비밀번호를 생성할 수 있는 링크를 받게 됩니다.
        </div>
        <br/>
        <div th:if="${message}"
             th:text="${message}"
             class="form-text text-primary"
        >
            message
        </div>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" action="#"
              th:action="@{/find-password}"
              th:object="${emailForm}"
              method="post"
              novalidate
        >

            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input class="form-control"
                       th:field="*{email}"
                       id="email"
                       type="email"
                       placeholder="이메일을 입력하세요."
                       aria-describedby="emailHelp"
                       required
                />
                <small class="form-text text-muted" id="emailHelp">
                    가입할 때 사용한 이메일을 입력하세요.
                </small><br/>
                <small th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"
                       class="form-text text-danger"
                >
                    Email Error
                </small>
            </div>

            <div class="form-group mt-4">
                <button class="btn btn-primary btn-block"
                        type="submit"
                        aria-describedby="submitHelp"
                >
                    로그인 링크 보내기
                </button>
                <small id="submitHelp" class="form-text text-muted">
                    스터디인에 처음 오신거라면 <a th:href="@{/sign-up}" href="#">계정을 먼저 만드세요.</a>
                </small>
            </div>

        </form>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: mdb-js"></script>
</body>
</html>