<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div class="container py-3">
    <div th:replace="fragments.html :: menu (settings)"></div>
    <div class="row justify-content-center mt-4">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='password')"></div>
        </div>
        <div class="col-8">
            <div th:replace="fragments.html :: message"></div>
            <div class="tab-content" role="tabpanel">
                <div class="card shadow-sm mb-4">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form class="mb-3" action="#"
                              th:action="@{/settings/password}"
                              th:object="${passwordForm}"
                              method="post"
                              novalidate
                        >

                            <div class="mb-3">
                                <label class="small mb-1" for="currentPassword">Current password</label>
                                <input class="form-control"
                                       th:field="*{currentPassword}"
                                       id="currentPassword"
                                       type="password"
                                       placeholder="현재 패스워드"
                                       aria-describedby="currentPasswordHelp"
                                       required minlength="8" maxlength="50"
                                />
                                <small id="currentPasswordHelp" class="form-text text-muted">
                                    현재 사용하고 계신 패스워드를 입력하세요.
                                </small><br/>
                                <div th:if="${#fields.hasErrors('currentPassword')}"
                                     th:errors="*{currentPassword}"
                                     class="form-text text-danger"
                                     id="current"
                                     type="hidden"
                                >
                                    currentPassword Error
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="newPassword">New password</label>
                                <input class="form-control"
                                       th:field="*{newPassword}"
                                       id="newPassword"
                                       type="password"
                                       placeholder="새로운 패스워드"
                                       aria-describedby="newPasswordHelp"
                                       required minlength="8" maxlength="50"
                                />
                                <small id="newPasswordHelp" class="form-text text-muted">
                                    8~50자 이내로 바꾸실 패스워드를 입력하세요.
                                </small><br/>
                                <small th:if="${#fields.hasErrors('newPassword')}"
                                       th:errors="*{newPassword}"
                                       class="form-text text-danger"
                                >
                                    newPassword Error
                                </small>
                            </div>

                            <div class="mb-4">
                                <label class="small mb-1" for="confirmPassword">Confirm new password</label>
                                <input class="form-control"
                                       th:field="*{confirmPassword}"
                                       id="confirmPassword"
                                       type="password"
                                       placeholder="확인 패스워드"
                                       aria-describedby="confirmPassword"
                                       required minlength="8" maxlength="50"
                                />
                                <small id="confirmPasswordHelp" class="form-text text-muted">
                                    새로운 패스워드를 한번 더 입력하세요.
                                </small><br/>
                                <small th:if="${#fields.hasErrors('newPassword')}"
                                       th:errors="*{newPassword}"
                                       class="form-text text-danger"
                                >
                                    confirmPassword Error
                                </small>
                            </div>

                            <div>
                                <button class="btn btn-primary btn-block" type="submit">
                                    Save changes
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: mdb-js"></script>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>