<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div th:replace="fragments-study.html :: study-banner"></div>
<div class="container">
    <div th:replace="fragments-study.html :: study-info"></div>
    <div th:replace="fragments-study.html :: study-menu(studyMenu='settings')"></div>
    <div class="row justify-content-center mt-4">

        <div class="col-2">
            <div th:replace="fragments-study.html :: study-settings-menu(currentMenu='banner')"></div>
        </div>

        <div class="col-8">
            <div th:replace="fragments.html :: message"></div>
            <div class="tab-content"
                 id="list-home"
                 role="tabpanel"
            >
                <div class="card shadow-sm mb-4">
                    <div class="card-header">Using banners</div>
                    <div class="card-body">

                        <form th:if="${!study.useBanner}"
                              th:action="@{'/study/' + ${study.getPath()} + '/settings/banner/enable'}" action="#"
                              method="post"
                              novalidate
                        >
                            <div class="alert alert-primary" role="alert">
                                스터디 메뉴에서 스터디 배너 이미지를 사용합니다.<br>
                                스터디 배너 이미지를 아직 설정하지 않았다면, 기본 배너 이미지를 사용합니다.
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Using Banner Images</button>
                            </div>
                        </form>
                        <form th:if="${study.useBanner}"
                              th:action="@{'/study/' + ${study.getPath()} + '/settings/banner/disable'}" action="#"
                              method="post"
                              novalidate
                        >
                            <div class="alert alert-info" role="alert">
                                스터디 메뉴에서 스터디 배너 이미지를 사용하지 않습니다.<br>
                                스터디 목록에서는 배너 이미지를 사용합니다.
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-block" type="submit">Don't use banner images</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card shadow-sm mb-4">
                    <div class="card-header">Change banner image</div>
                    <div class="card-body">
                        <div class="text-center">
                            <!-- Profile picture image-->
                            <div id="current-study-image" class="mt-3">
                                <img class="rounded"
                                     th:src="${study.image}"
                                     th:alt="${study.title}"
                                     width="640"
                                     alt="name"
                                />
                            </div>
                            <div id="new-study-image" class="mt-3"></div>
                            <!-- Profile picture help block-->
                            <div class="small font-italic text-muted ">JPG or PNG no larger than 5 MB</div>
                            <!-- Profile picture upload button-->
                            <div class="card-body">
                                <div class="custom-file col-lg-6 m-auto">
                                    <input class="form-control"
                                           id="study-image-file"
                                           type="file"
                                    />
                                    <label class="btn btn-primary mt-3"
                                           for="study-image-file"
                                           type="button"
                                    >
                                        Upload new banner image
                                    </label>
                                </div>
                                <div class="mt-3 col-lg-6 m-auto" id="new-study-image-control">
                                    <button class="btn btn-primary" id="cut-button">자르기</button>
                                    <button class="btn btn-success" id="confirm-button">확인</button>
                                    <button class="btn btn-primary" id="save-button">저장</button>
                                    <button class="btn btn-warning" id="reset-button">취소</button>
                                </div>

                                <div id="cropped-new-study-image" class="mt-3"></div>
                            </div>
                        </div>
                        <form th:action="@{'/study/' + ${study.getPath()} + '/settings/banner'}" action="#"
                              id="imageForm"
                              method="post"
                              novalidate
                        >
                            <div class="form-group">
                                <input class="form-control"
                                       id="studyImage"
                                       type="hidden"
                                       name="image"
                                />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: mdb-js"></script>
<!--  Cropper.js  -->
<link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    $(function () {
        cropper = '';
        let $confirmBtn = $("#confirm-button");
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $saveBtn = $("#save-button");
        let $newStudyImage = $("#new-study-image");
        let $currentStudyImage = $("#current-study-image");
        let $resultImage = $("#cropped-new-study-image");
        let $studyImage = $("#studyImage");

        $newStudyImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();
        $confirmBtn.hide();
        $saveBtn.hide();

        $("#study-image-file").change(function (e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        if (!e.target.result.startsWith("data:image")) {
                            alert("이미지 파일을 선택하세요.");
                            return;
                        }

                        let img = document.createElement("img");
                        img.id = 'new-study';
                        img.src = e.target.result;
                        img.setAttribute('width', '100%');

                        $newStudyImage.html(img);
                        $newStudyImage.show();
                        $currentStudyImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 13 / 2});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $confirmBtn.hide();
                        $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function () {
            $currentStudyImage.show();
            $newStudyImage.hide();
            $resultImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $saveBtn.hide();
            $studyImage.val('');
        });

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();

            if (dataUrl.length > 1080 * 1920) {
                alert("이미지 파일이 너무 큽니다. 2,073,600 보다 작은 파일을 사용하세요. 현재 이미지 사이즈 " + dataUrl.length);
                return;
            }

            let newImage = document.createElement("img");
            newImage.id = "cropped-new-study-image";
            newImage.src = dataUrl;
            newImage.width = 640;
            $resultImage.html(newImage);
            $resultImage.show();
            $confirmBtn.show();

            $confirmBtn.click(function () {
                $newStudyImage.html(newImage);
                $cutBtn.hide();
                $confirmBtn.hide();
                $studyImage.val(dataUrl);
                $saveBtn.show();
            });
        });

        $saveBtn.click(function () {
            $("#imageForm").submit();
        });
    });
</script>
</body>
</html>