<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div th:replace="fragments-study.html :: study-banner"></div>
<div class="container">
    <div th:replace="fragments-study.html :: study-info"></div>
    <div th:replace="fragments-study.html :: study-menu(studyMenu='settings')"></div>
    <div class="row justify-content-center mt-4">

        <div class="col-2">
            <div th:replace="fragments-study.html :: study-settings-menu(currentMenu='tags')"></div>
        </div>

        <div class="col-8">
            <div class="tab-content" role="tabpanel">
                <div class="card shadow-sm mb-4">
                    <div class="card-header">Study tags</div>
                    <div class="card-body">
                        <div>
                            <div class="alert alert-info" role="alert">
                                스터디의 관련 주제를 입력해 주세요.<br/>
                                관련 주제를 등록한 이용자들은 스터디 알림을 받을 수 있습니다.<br/>
                                태그를 입력하고 콤마(,) 또는 엔터(Enter)를 입력하세요.
                            </div>
                            <div id="savedList" th:text="${savedList}" hidden></div>
                            <!-- List<String> tags = List.of("a", "b") -> a, b 변환 (#strings.listJoin())-->
                            <input class="tagify--outside col-lg-12 m-auto"
                                   th:value="${#strings.listJoin(tags, ',')}"
                                   id="tags" type="text" name="tags"
                                   placeholder="원하시는 태그를 입력해주세요."
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: mdb-js"></script>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<!--  @yaireo Tagify  -->
<script th:replace="fragments.html :: update-tags(baseUrl='/study/' + ${study.path} + '/settings/tags')"></script>
</body>
</html>